<!DOCTYPE html>
<html lang="en">


<meta charset="utf-8">
<head>
    <%- include('./partials/head1.ejs') %>
</head>
 
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <%-include('./partials/topbar.ejs')%>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <%- include('./partials/header1.ejs') %>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Construction</h1>
                    <a href="#" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="#" class="h5 text-white">Construction</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="left-sidebar">
                <div class="portfolio-details">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/image/construction1.jpg" class="d-block w-100" alt="...">
                        </div>
                        
                      </div>
                     </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <!-- <div class="section-title mb-3"> -->
                        <h2 class="title">About<span> Construction</span></h2>
                      </div>
                      <p>
                        Construction work typically refers to the process of building or assembling infrastructure, buildings, or other structures. It involves a variety of tasks such as planning, design, excavation, materials procurement, foundation laying, erection, and finishing. Construction work can include residential, commercial, industrial, or infrastructure projects.</p>
                        Planning and Design: This involves conceptualizing the structure, creating blueprints, and determining the materials and resources needed.</p>

                       <p> Site Preparation: Clearing the land, excavating, leveling, and preparing the site for construction.</p>
                        
                       <p> Foundation Construction: Building the foundation, which provides stability and support for the structure.</p>
                        
                       <p>Structural Construction: Erecting the framework and structural components of the building or infrastructure.</p>
                        
                       <p>Installation of Systems: This includes installing plumbing, electrical, heating, ventilation, and air conditioning (HVAC), and other systems.</p>
                        
                       <p>Finishing Work: Adding finishing touches such as painting, flooring, tiling, and landscaping to complete the project.</p>
                        
                       <p> Inspections and Quality Control: Ensuring that construction meets building codes, safety standards, and client specifications through inspections and quality control measures.</p>
                        
                       <p>Construction work requires coordination among architects, engineers, contractors, subcontractors, laborers, and other stakeholders to ensure the successful completion of projects within budget and on schedule. It involves a wide range of skills and knowledge across various disciplines, including architecture, engineering, project management, and construction techniques.</p>
                      
                    </div>
                  </div>
                  <div class="row box-shadow mt-5">
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title"> Choose <span>Construction</span> </h4>
                      <p class="line-h-3 mb-0">Steel manufacturing involves intricate processes from raw material extraction to final product delivery. Effective management helps streamline operations, ensuring efficiency and minimizing waste.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Purpose and Scope:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>"Construction projects serve various purposes, including residential, commercial, industrial, and infrastructure development. The scope of construction projects can range from small-scale renovations to large-scale developments like skyscrapers, bridges, highways, and airports.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Design and Planning</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Before construction begins, thorough planning and design are essential. This involves conceptualizing the project, creating architectural and engineering designs, obtaining necessary permits and approvals, and developing a construction schedule and budget.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Materials and Resources:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Construction requires a wide range of materials and resources, including concrete, steel, wood, glass, bricks, and various construction equipment and machinery. Procuring quality materials and managing resources efficiently are crucial for the success of construction projects. 
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Customized Solutions for Your Unique Needs</h5>
                              </div>
                              <div class="featured-desc">
                                <p>
                                  Providing customized solutions for the unique needs of steel management involves tailoring strategies, processes, and technologies to address specific challenges and opportunities within the industry.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
                      <img style="width:100%;height:100%;" src="/image/construction2.jpg" alt="">
                    </div>
                  </div>
                  <div class="row box-shadow mt-10">
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
  
                      <img style="width:100%;height:100%;" src="/image/construction3.jpg" alt="">
  
                    </div>
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title">Our <span>Technologies</span></h4>
                      <p class="line-h-3 mb-0">Construction technology refers to the use of innovative tools, equipment, techniques, and methodologies to improve efficiency, productivity, safety, and sustainability in the construction industry.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Building Information Modeling (BIM):</h5>
                              </div>
                              <div class="featured-desc">
                                <p>BIM is a digital representation of the physical and functional characteristics of a building or infrastructure project. It enables architects, engineers, and construction professionals to create, visualize, simulate, and manage building designs and data throughout the project lifecycle.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Prefabrication and Modular Construction:</h5>
                              </div>
                              <div class="featured-desc">
                                <p> Increasingly, construction projects prioritize sustainability and environmental responsibility. This includes using eco-friendly materials, implementing energy-efficient design principles, minimizing waste and pollution, and incorporating green building practices to reduce the project's environmental footprint.</p>
                            </div>
                          </div>
                       
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


   


   
    
 <!-- Footer Start -->
 <%-include('./partials/footer1.ejs')%>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="fa-solid fa-arrow-up"></i></a>

<%-include('./partials/scriptfile.ejs')%>
</body>



</html>