<!DOCTYPE html>
<html lang="en">


<meta charset="utf-8">
<head>
    
    <%- include('./partials/head1.ejs') %>
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <%-include('./partials/topbar.ejs')%>
    <!-- Topbar End -->
  <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <%- include('./partials/header1.ejs') %>
     <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Gallery</h1>
                    <a href="#" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="#" class="h5 text-white">Gallery</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
  <!-- Gallery -->
  <% if (data && data.length > 0) { %>
    <% data.forEach((row) => { %>
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="/gallery/<%= row.photo %>"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Boat on Calm Water"
      />
    </div>
  </div>
  <% }); %>
  <% } else { %>
    <p>No images found</p>
    <% } %>
  <!-- Gallery -->


  
    <!-- Footer Start -->
    <%-include('./partials/footer1.ejs')%>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="fa-solid fa-arrow-up"></i></a>

    <%-include('./partials/scriptfile.ejs')%>
</body>



</html>