<!DOCTYPE html>
<html lang="en">


<meta charset="utf-8">
<head>
    
    <%- include('./partials/head1.ejs') %>
</head>
 
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <%-include('./partials/topbar.ejs')%>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <%- include('./partials/header1.ejs') %>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Realestate Property</h1>
                    <a href="#" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="#" class="h5 text-white">Realestate Property</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="left-sidebar">
                <div class="portfolio-details">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/image/real11.jpeg" class="d-block w-100" alt="...">
                        </div>
                        
                      </div>
                      
                    </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <!-- <div class="section-title mb-3"> -->
                        <h2 class="title">Realestate <span> Property</span></h2>
                      </div>
                      <p>The work in real estate involves a variety of activities related to buying, selling, managing, and developing properties. Here's a description of the key roles and responsibilities within the real estate industry:</p>
                      
                    </div>
                  </div>
                  <div class="row box-shadow mt-5">
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title">About <span>Realestate</span> </h4>
                      <p class="line-h-3 mb-0">Steel manufacturing involves intricate processes from raw material extraction to final product delivery. Effective management helps streamline operations, ensuring efficiency and minimizing waste.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Property Valuation:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Determining the value of real estate involves factors such as location, size, condition, amenities, market demand, and comparable sales data. Appraisers and real estate professionals use various methods, including the sales comparison approach, income approach, and cost approach, to assess property values.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Real Estate Transactions:</h5>
                              </div>
                              <div class="featured-desc">
                                <p> Buying and selling real estate involves a series of steps, including property search, negotiation, due diligence, financing, contract signing, and closing. Real estate agents, brokers, attorneys, lenders, and title companies play key roles in facilitating transactions and ensuring legal compliance.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Real Estate Investment:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Real estate investment involves purchasing properties with the goal of generating rental income, capital appreciation, or both. Investors may acquire residential rental properties, commercial buildings, vacant land, or participate in real estate investment trusts (REITs) and real estate crowdfunding platforms.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Property Management:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>
                                  Property management involves overseeing the day-to-day operations, maintenance, and tenant relations of rental properties on behalf of owners. Property managers handle tasks such as rent collection, lease agreements, property maintenance, tenant screening, and eviction proceedings.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
                      <img style="width:100%;height:100%;" src="/image/real12.jpeg" alt="">
                    </div>
                  </div>
                  <div class="row box-shadow mt-10">
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
  
                      <img style="width:100%;height:100%;" src="/image/real13.jpeg" alt="">
  
                    </div>
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title">Why Choose Realestate </h4>
                      <p class="line-h-3 mb-0">Real estate transactions and activities are subject to local, state, and federal laws, regulations, and codes. Legal considerations include property rights, contracts, land use regulations, zoning ordinances, environmental regulations, fair housing laws, and tax implication</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Potential for Financial Gain:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Real estate offers the potential for significant financial gain through property appreciation, rental income, and investment returns. Many people are attracted to the prospect of building wealth and achieving financial independence through real estate investments or careers in sales, development, or property management.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Tangible Assets:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Real estate involves tangible assets in the form of land, buildings, and properties, which can provide a sense of security and stability compared to other investment options.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Contributing to Communities:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Real estate plays a vital role in shaping communities, providing housing, commercial space, infrastructure, and amenities that contribute to the quality of life and economic development.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Long-Term Growth Potential: </h5>
                              </div>
                              <div class="featured-desc">
                                <p>Historically, real estate has shown long-term growth potential and resilience, even in times of economic uncertainty. </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


   


   
    

     <!-- Footer Start -->
     <%-include('./partials/footer1.ejs')%>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="fa-solid fa-arrow-up"></i></a>
  <%-include('./partials/scriptfile.ejs')%>
</body>



</html>