<!DOCTYPE html>
<html lang="en">


<meta charset="utf-8">
<head>
    
    <%- include('./partials/head1.ejs') %>
</head>
 
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <%-include('./partials/topbar.ejs')%>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <%- include('./partials/header1.ejs') %>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Transport & Mining</h1>
                    <a href="#" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="#" class="h5 text-white">Transport & Mining</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="left-sidebar">
                <div class="portfolio-details">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/image/transport11.jpeg" class="d-block w-100" alt="...">
                        </div>
                        
                      </div>
                      
                    </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <!-- <div class="section-title mb-3"> -->
                        <h2 class="title">Transport <span>  Mining</span></h2>
                      </div>
                      <p>Transport and mining are two distinct industries that play critical roles in economic development, infrastructure, and resource extraction. Here's an overview of each:</p>
                    </div>
                  </div>
                  <div class="row box-shadow mt-5">
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title">Transport:</span> </h4>
                      <p class="line-h-3 mb-0">Transport refers to the movement of people, goods, and services from one location to another using various modes of transportation such as roads, railways, airways, waterways, and pipelines.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Modes of Transport:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Road Transport: Roads and highways accommodate the majority of passenger and freight transport, providing flexibility and accessibility to various destinations.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Rail Transport:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Railways are used for long-distance freight transportation, bulk cargo, and passenger travel, offering cost-effective and energy-efficient options.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Air Transport:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Air travel is crucial for long-distance and international transportation of passengers and high-value goods, offering speed and connectivity across distant locations.
                                </p>
                                <p>Pipelines transport liquids, gases, and bulk materials over long distances, particularly in the energy sector for transporting oil, natural gas, and refined products.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Maritime Transport: </h5>
                              </div>
                              <div class="featured-desc">
                                <p>
                                  Maritime shipping involves the movement of goods and commodities through oceans, seas, and waterways, serving as a primary mode for global trade and commerce.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
                      <img style="width:100%;height:100%;" src="/image/transport22.jpeg" alt="">
                    </div>
                  </div>
                  <div class="row box-shadow mt-10">
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
  
                      <img style="width:100%;height:100%;" src="/image/transport33.jpeg" alt="">
  
                    </div>
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title">Mining:</h4>
                      <p class="line-h-3 mb-0">Mining involves the extraction of valuable minerals, metals, ores, and resources from the Earth's crust for use in various industries such as manufacturing, construction, energy production, and technology.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Advanced Production Processes:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Basic Oxygen Furnace (BOF): Traditional method involving blowing oxygen through molten iron to produce steel.Electric Arc Furnace (EAF): Melting recycled steel using an electric arc, offering flexibility in steel production.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Types of Mining:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Surface Mining: Surface mining methods, such as open-pit mining and quarrying, involve removing surface layers of soil, rock, and vegetation to access shallow mineral deposits.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Underground Mining:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Underground mining methods are used to extract minerals and ores located deep beneath the Earth's surface, requiring tunnels, shafts, and other underground infrastructure.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Placer Mining:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>  Placer mining involves the extraction of minerals and precious metals from alluvial deposits such as rivers, streams, and beaches using techniques such as panning, sluicing, and dredging.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


   


   
    

    <!-- Footer Start -->
    <%-include('./partials/footer1.ejs')%>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="fa-solid fa-arrow-up"></i></a>
  <%-include('./partials/scriptfile.ejs')%>
</body>



</html>