<!DOCTYPE html>
<html lang="en">


<meta charset="utf-8">
<head>
    
    <%- include('./partials/head1.ejs') %>
</head>
 
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <%-include('./partials/topbar.ejs')%>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <%- include('./partials/header1.ejs') %>

        <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
            <div class="row py-5">
                <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-4 text-white animated zoomIn">Water & Air</h1>
                    <a href="#" class="h5 text-white">Home</a>
                    <i class="far fa-circle text-white px-2"></i>
                    <a href="#" class="h5 text-white">Water & Air</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="left-sidebar">
                <div class="portfolio-details">
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="/image/water.jpg" class="d-block w-100" alt="...">
                        </div>
                        
                      </div>
                      
                    </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <!-- <div class="section-title mb-3"> -->
                        <h2 class="title">Water & <span> Air</span></h2>
                      </div>
                      <p>
                        It seems you're inquiring about solutions related to water and air quality or environmental issues. Water and air solutions refer to strategies, technologies, and initiatives aimed at addressing challenges related to water scarcity, pollution, and air quality degradation. Here's an overview of water and air solutions:</p>  
                    </div>
                  </div>
                  <div class="row box-shadow mt-5">
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title"> Water Solutions:</h4>
                      <p class="line-h-3 mb-0">Steel manufacturing involves intricate processes from raw material extraction to final product delivery. Effective management helps streamline operations, ensuring efficiency and minimizing waste.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Water Treatment:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Technologies such as filtration, disinfection, and desalination are used to treat water for various purposes, including drinking, agriculture, industrial processes, and wastewater treatment.
                                  </p>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Water Conservation:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Conservation practices such as rainwater harvesting, greywater recycling, and efficient irrigation systems help reduce water consumption and minimize wastage.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Water Management: </h5>
                              </div>
                              <div class="featured-desc">
                                <p>Integrated water management approaches involve sustainable management of water resources, watershed protection, and allocation strategies to ensure equitable access and long-term sustainability.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-5">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Water Infrastructure:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>
                                  Investing in water infrastructure such as reservoirs, pipelines, dams, and water distribution systems improves access to clean water, enhances water quality, and strengthens resilience to droughts and climate change.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
                      <img style="width:100%;height:100%;" src="/image/water1.jpg" alt="">
                    </div>
                  </div>
                  <div class="row box-shadow mt-10">
                    <div class="col-lg-6 col-md-12 dark-bg px-5 py-5">
  
                      <img style="width:100%;height:100%;" src="/image/air.jpg" alt="">
  
                    </div>
                    <div class="col-lg-6 col-md-12 px-5 py-5">
                      <h4 class="title">Air Solutions:</h4>
                      <p class="line-h-3 mb-0">Air Quality Monitoring: Monitoring networks and sensor technologies are used to measure air pollution levels, track pollutant concentrations, and assess air quality in urban and industrial areas.</p>
                      <div>
                        <div class="row mt-4">
                          <div class="col-sm-6">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Emission Reduction:</h5>
                              </div>
                              <div class="featured-desc">
                                <p>Implementing emission control technologies, regulations, and policies help reduce emissions of pollutants such as particulate matter, sulfur dioxide, nitrogen oxides, volatile organic compounds, and greenhouse gases.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-3 mt-sm-0">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Clean Energy: </h5>
                              </div>
                              <div class="featured-desc">
                                <p> Transitioning to clean and renewable energy sources such as solar, wind, hydroelectric, and geothermal power helps reduce air pollution and mitigate climate change by reducing reliance on fossil fuels.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Green Transportation: </h5>
                              </div>
                              <div class="featured-desc">
                                <p>Promoting public transportation, electric vehicles, biking, and walking reduces vehicle emissions and congestion, improves air quality, and promotes sustainable urban mobility.</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6 mt-4">
                            <div class="featured-item p-0">
  
                              <div class="featured-title text-uppercase">
                                <h5 class="title">Industrial Pollution Control:</h5>
                              </div>
                              <div class="featured-desc">
                                <p> Implementing pollution prevention measures, recycling technologies, and best practices in industries help minimize emissions, waste generation, and environmental impact.</p>
                               </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


   


   
    

   <!-- Footer Start -->
   <%-include('./partials/footer1.ejs')%>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="fa-solid fa-arrow-up"></i></a>

<%-include('./partials/scriptfile.ejs')%>
</body>



</html>